@font-face {
  font-family: manrope_medium;
  src: url('../../fonts/static/Manrope-Medium.ttf');
}

@font-face {
  font-family: manrope_regular;
  src: url('../../fonts/static/Manrope-Regular.ttf');
}

@font-face {
  font-family: manrope_light;
  src: url('../../fonts/static/Manrope-Light.ttf');
}