*,
*::after,
*::before{
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

html,
body {
  height: 100vh;
}

a {
  display: flex;
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

button {
  all: initial;
  cursor: pointer;
}