$manrope-medium: "manrope_medium", "Helvetica Neue", Arial, sans-serif;
$manrope-regular: "manrope_regular", "Helvetica Neue", Arial, sans-serif;
$manrope-light: "manrope_light", "Helvetica Neue", Arial, sans-serif;

$main-black: #202020;
$main-text-color: #0a0b0f;

$accents-color: #007fe1;
$secondary-color: #898989;
$breadcrumbs-color: #bdbdbd;
$divider-color: #d7d7d7;
$background-color: #f1f1f1;
$white-text-color: #fcfcfc;
$white-text-color-button: #fffbfb;

$system-error-color: #e70303;
$system-success-color: #00d36e;
$system-error-warning: #fc0;

$tablet-min-width: 834px;
$tablet-min-desktop: 1260px;