$main-text-color: #0a0b0f;

$accents-color: #007fe1;
$secondary-color: #898989;
$divider-color: #d7d7d7;
$background-color: #fff;
$white-text-color: #fcfcfc;
$backgroud-btn-color: #486bf2;
$backgroud-btn-exit-color: #df2d2d;

$backgroud-game-color: #e43f71;
$backgroud-edit-color: #df2d2d;

$tablet-min-width: 450px;
$tablet-big-min-width: 700px;
$tablet-min-desktop: 1260px;