@import '../../style/utils.scss';

.dictionary-page {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;

  margin: 16px;

  @include onTablet() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include onTabletBig() {
    grid-template-columns: repeat(3, 1fr);
  }

  @include onDesktop() {
    margin-block: 64px;

    grid-template-columns: repeat(4, 1fr);
  }
}