@import '../../style/utils.scss';

.edit-dictionary {
  background-color: $background-color;

  &__dictionary {
    padding-bottom: 8px;

    width: 50%;
    max-width: 400px;

    margin: 0 auto;

    border-radius: 8px;
    background-color: $background-color;
  }

  &__input-words {
    margin: 16px;
  }
}